body {
  margin: 0;
}

.navbar {

  background: #1976d2;

  color: white;

  padding: 15px 30px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  flex-wrap: wrap;

  gap: 10px;
}

.categorias {

  display: flex;

  gap: 10px;

  flex-wrap: wrap;
}

.categorias button,
.marcas button {

  padding: 10px;

  border: none;

  border-radius: 8px;

  cursor: pointer;
}

.marcas {

  padding: 15px;

  display: flex;

  gap: 10px;

  flex-wrap: wrap;
}

.busqueda {

  padding: 20px;
}

.busqueda input {

  width: 100%;

  padding: 12px;

  border-radius: 8px;

  border: 1px solid #ccc;
}

.equipos {

  padding: 20px;

  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));

  gap: 20px;
}

.card {

  border-radius: 12px;

  overflow: hidden;

  background: white;

  box-shadow: 0 0 10px rgba(0,0,0,.1);

  display: flex;

  flex-direction: column;
}

.card img {

  width: 100%;

  height: 200px;

  object-fit: cover;
}

.card h3,
.card p {

  padding: 0 15px;
}

.card button {

  margin: 15px;

  padding: 12px;

  border: none;

  border-radius: 8px;

  background: #1976d2;

  color: white;

  cursor: pointer;
}
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-card input {
  padding: 12px;
}
.cerrar-filtro {

  background: #ef4444 !important;

  color: white;

  font-weight: bold;
}

.botones-modal {

  display: flex;

  gap: 10px;

  margin-top: 20px;
}

.btn-volver {

  background: #6b7280;
}

.btn-confirmar {

  background: #2563eb;
}
/* RESPONSIVE */

@media (max-width: 768px) {

  .navbar {

    flex-direction: column;

    align-items: flex-start;

    gap: 15px;
  }

  .categorias {

    width: 100%;

    display: flex;

    flex-wrap: wrap;
  }

  .categorias button {

    flex: 1;
  }

  .marcas {

    display: flex;

    flex-wrap: wrap;

    gap: 10px;
  }

  .marcas button {

    flex: 1;
  }

  .equipos {

    grid-template-columns: 1fr;
  }

  .modal-card {

    width: 95%;
  }

  .botones-modal {

    flex-direction: column;
  }

  .botones-modal button {

    width: 100%;
  }
}